
a {
    color: #af496a;
    text-decoration: underline;
    background-color: transparent;
}

.about{
 margin: 1rem;
 font-size: 1rem;

}

.bg-gradient-primary {
    background-color:  #2d4d7a!important;
    background-image: none; 

}

.breadcrumb {
    background-color: transparent; 

}

.btn-primary {
    color:#af496a;
    background-color: white;
    border-color:  #af496a;
    stroke-width: 1px;
    font-weight:500;
    border-radius: 0px;
}

.card-title {
    color: #2d4d7a!important;
    font-weight: 600;
    font-family:system-ui, sans-serif;
}

.card-title {
    color: #2d4d7a!important;
    font-weight: 900;
    font-family: system-ui, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1rem;
}

.card {

    border: 1px solid #af496a!important;
    margin:2px;
    border-radius: 0px;

}


.css-13irs1z {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, currentcolor 8px, currentcolor 10px);
    padding: 0px;
    aspect-ratio: 6 / 1;
    border: 10px;
    display: block;
    color: red;
}


.css-e5eg26 {
    background-color: currentcolor;
    padding: 0px;
    height: 4px;
    border: 0px;
    display: block;
    color: #2d4d7a;
}

.css-z2dt1m {
    border-left: 4px solid currentcolor;
    margin-left: 0px;
    padding-left: 32px;
    width: 100%;
    color: #2d4d7a;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
    color: #af496a;
}


footer.sticky-footer {
    padding: -10rem 0;
    flex-shrink: 0;
    margin-top: 30px;

}


h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;

    
}

h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 5rem;
}

.iconos-new{
    font-size: 28px; 
    opacity: 1; 
    -webkit-text-stroke-width: 0px; 
    color:#af496a;

}


.input-group:not(.has-validation) > .form-control:not(:last-child), .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after {
    border: 1px solid #af496a!important;
    border-radius: 0px;
}

mark {
    background-color: #f9eff2;
    color: #2d4d7a;

  }


p {
    margin-top: 0;
    margin-bottom: 0rem;
}


  .rotate-n-15 {
    transform: rotate(356deg);
}

.row {
    margin-top: 2rem;
}

.sidebar-dark .sidebar-brand {
    color: #ebffdd;
}


.sidebar .sidebar-brand .sidebar-brand-text {
    line-height: 1;
    font-family: system-ui, sans-serif;
    text-align: left;
}


.sidebar-dark .nav-item .nav-link i {
    color: rgba(255,255,255,.65);
}

.text-gray-800 {
    color: #2d4d7a !important;
     /* font-size: 30px; */
    font-family: system-ui, sans-serif;
    font-weight: 900;
}

.text-primary {
    color: #2d4d7a!important;
}

.topbar #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
    color: #af496a;
}

.topbar .dropdown-list .dropdown-header {
    background-color: #2d4d7a ;
    border: 1px solid #2d4d7a ;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #fff;
}

.topbar .dropdown .dropdown-menu {
    border-radius: 0px;
}


.topbar {
    border: 1px solid #af496a!important;
}


#wrapper #content-wrapper #content {
    flex: 1 0 auto;
    background-color: #f4e2e8;
opacity: 1;
background-size: 12px 12px;
background-image: repeating-linear-gradient(45deg, #f4e2e8 0, #ffffff 1.2000000000000002px, #f4e2e8 0, #f4e2e8 50%);

}

#wrapper #content-wrapper {
    background-color: #f4e2e8;
    width: 100%;
    overflow-x: hidden;
}


/* fixed sidebar */
.sidebar {
   /*  width: 6.5rem;
    min-height: 100vh;*/
    position: fixed;
    z-index: 100;
}

#wrapper #content-wrapper #content {
    margin-left: 13.5rem;
}

/* end fixed sidebar */



/* botón proyectos relacionados */
.btn-primary2 {
    color: #af496a;
    background-color: white;
    border-color: #af496a;
    stroke-width: 1px;
    font-weight: 500;
    border-radius: 0px;
    display: inline-block!important;
}
.d-sm-inline-block2 {
    display: inline-block!important;
}
/* fin botón proyectos relacionados */

/* tags */
.btn-outline-light {
    color: #f8f9fc;
    border-color: rgba(255,255,255,0.5);
    border-radius: 0px;
    margin: 3px;
    padding: 5px;
    font-size: 0.7rem;
    background-color: rgba(255,255,255,0.1)
}



.sidebar .nav-item .tag-new {
    display: inline;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}

.sidebar hr.sidebar-divider {
    margin-top: 0.5rem;
}



/* Extra small devices (phones, 600px and down) 

@media only screen and (max-width: 600px) {
    
    .d-sm-inline-block2 {
        display: inline-block!important;
    }
*/


/* fixed sidebar */
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) 
{
 #wrapper #content-wrapper #content {
     margin-left: 6.5rem;
 }
}



@media only screen and (max-width: 376px) 
{

    .sidebar {
        /*  width: 6.5rem;
         min-height: 100vh;*/
         position: relative;
         z-index: 100;
     }

    #wrapper #content-wrapper #content {
        margin-left: 0;
    }
}





  /* end fixed sidebar */



/* flecha del sidebar */
.sidebar #sidebarToggle::after {
    

}
